# -----------------
# Node / React
# -----------------
node_modules/
ecom-frontend/node_modules/

# Testing / Coverage
coverage/

# Production Builds
build/
dist/
ecom-frontend/build/
ecom-frontend/dist/

# Environment Variables
.env
.env.*
ecom-frontend/.env
ecom-frontend/.env.*
sb-ecom/.env
sb-ecom/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# -----------------
# Backend (Spring Boot)
# -----------------
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
target/
sb-ecom/target/
!.mvn/wrapper/maven-wrapper.jar

# -----------------
# Frontend (Extra)
# -----------------
.eslintcache
ecom-frontend/tailwindcss.exe
